# IDE files
.idea/

# Node
/node_modules/

# Yarn files
.yarn/install-state.gz
.yarn/build-state.yml

# Coverage
coverage/

# Turbo
.turbo/

# Build output
dist/

# Environment files
.env.local
.env.*.local
