name: Release Message

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  github-releases-to-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Github Releases To Discord
        uses: SethCohen/github-releases-to-discord@b96a33520f8ad5e6dcdecee6f1212bdf88b16550 # v1.19.0
        with:
          webhook_url: ${{ secrets.RELEASE_WEBHOOK }}
          username: "OurTube Updates"
          footer_timestamp: true
