name: Release Message

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  github-releases-to-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Github Releases To Discord
        uses: SethCohen/github-releases-to-discord@b96a33520f8ad5e6dcdecee6f1212bdf88b16550 # v1.19.0
        with:
          webhook_url: ${{ secrets.RELEASE_WEBHOOK }}
          username: "OurTube Updates"
          footer_timestamp: true
